/** @format */

:root {
	--maincolor: crimson;
	--midmaincolor: rgb(236, 44, 82);
	--whitemaincolor: rgb(253, 211, 218);
	--yellow: rgb(242, 255, 122);
	--darkyellow: rgb(255, 115, 0);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
	width: 7px;
	background-color: var(--midmaincolor);
}
::-webkit-scrollbar {
	width: 7px;
	background-color: pink;
}
::-webkit-scrollbar-thumb {
	background-color: var(--yellow);
}
* {
    box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: 100%;
}

header {
	padding: 10px 50px;
	background-color: var(--maincolor);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .me {
	display: flex;
	align-items: center;
}
header .me .img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
header .me .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
header .me span {
	display: block;
	color: white;
	font-size: 40px;
	margin-left: 20px;
	text-shadow: 3px 3px 0px var(--midmaincolor);
}
header nav {
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li a {
	color: white;
	display: block;
	padding: 10px;
	border-radius: 3px;
	background-color: var(--midmaincolor);
}
main {
	background-color: white;
	min-height: 80vh;
	width: 100%;
	padding: 40px 0 0;
	margin-bottom: 100px;
}
.intro {
	margin: 0 auto;
	max-width: 700px;
	padding: 20px;
}
.intro h1 {
    margin-bottom: 30px;
    line-height: 1.5;
}
.intro h1 span {
	color: var(--midmaincolor);
	text-decoration: underline;
}
.intro p {
	margin-bottom: 10px;
	font-size: 18px;
}
.intro p a {
    display: inline-block;
	padding: 5px;
	color: var(--maincolor);
	border-radius: 5px;
    background-color: var(--yellow);
    margin: 5px 0;
}
.designs {
	width: 100%;
	border-top: 1px solid var(--midmaincolor);
	margin-top: 40px;
	padding-top: 40px;
}
.designs h2 {
	text-shadow: 3px 3px 1px var(--whitemaincolor);
	position: relative;
	width: max-content;
    margin: 0 auto;
    background-color: var(--yellow);
    padding: 20px;
}
.designs-container {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 40px auto 0;
}
.designs-container .design {
	max-width: 400px;
    /* padding: 20px; */
    transition: transform 300ms;
}
.designs-container .design .cover {
	border: 1px solid var(--whitemaincolor);
	box-shadow: -5px 5px 1px var(--whitemaincolor);
}
.designs-container .design .details {
	margin-top: -20px;
	background-color: var(--yellow);
	position: relative;
	margin-left: 20px;
	border-radius: 4px;
	padding: 13px;
	z-index: 5;
    border: 3px solid white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.designs-container .design .details .view a img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    transition: transform 100ms;
}
.designs-container .design .details .view a:hover img {
    transform: scale(1.3);
}
@media only screen and  (max-width: 500px) {
    header {
        padding: 10px;
    }
    .designs h2 {
        font-size: 18px;
        padding: 10px;
    }
    .designs-container {
        width: 100%;
        padding: 0 10px;
    }
}